@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#__next,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #150E14;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.MuiFormLabel-root{
  color: #fff !important;
}

.MuiInputBase-root{
  color: #fff !important;
}

.MuiInput-underline:before{
  border-bottom: 1px solid #fff !important;
}

/* .MuiIconButton-root{
  color: #fff !important
} */

/* .MuiButtonBase-root{
  color: rgb(255, 255, 255) !important
} */
.MuiIconButton-label{
  color: rgb(184, 184, 184) !important;
}

.MuiPickersDay-daySelected{
  color: rgb(94, 61, 123) !important;
}

.scrollbar::-webkit-scrollbar{
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: blueviolet;
  padding-right: 10px;
}